{% extends 'blog/base.html' %} {% load staticfiles %} {% block content %}

<body>
    <div class="banner-body">
        <div class="container">
            <div class="header">
                <div class="header-nav">
                    <nav class="navbar navbar-default navbar-static-top" role="navigation">
                        <div class="navbar-header">

                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navHeaderCollapse">
                              <span class="sr-only">Toggle navigation</span>
                              <span class="icon-bar"></span>
                              <span class="icon-bar"></span>
                              <span class="icon-bar"></span>
                            </button><a href="{% url 'homepage'%}" class="navbar-brand"><span>M</span>unchiess</a>
                        </div>
                        <div class="collapse navbar-collapse nav-wil navHeaderCollapse">
                            <ul class="nav navbar-nav">
                                {% if recipe.category == 'breakfast' %}
                                <li class="hvr-bounce-to-bottom"><a href="{% url 'homepage'%}">Home</a></li>
                                <li class="hvr-bounce-to-bottom"><a href="{% url 'about'%}">About</a></li>
                                <li class="hvr-bounce-to-bottom active"><a href="{% url 'breakfast'%}">Breakfast</a></li>
                                <li class="hvr-bounce-to-bottom"><a href="{% url 'dinner'%}">Dinner</a></li>
                                <li class="hvr-bounce-to-bottom"><a href="{% url 'snacks'%}">Snacks</a></li>
                                {% elif recipe.category == 'dinner'%}
                                <li class="hvr-bounce-to-bottom"><a href="{% url 'homepage'%}">Home</a></li>
                                <li class="hvr-bounce-to-bottom"><a href="{% url 'about'%}">About</a></li>
                                <li class="hvr-bounce-to-bottom"><a href="{% url 'breakfast'%}">Breakfast</a></li>
                                <li class="hvr-bounce-to-bottom active"><a href="{% url 'dinner'%}">Dinner</a></li>
                                <li class="hvr-bounce-to-bottom"><a href="{% url 'snacks'%}">Snacks</a></li>
                                {% elif recipe.category == 'snacks'%}
                                <li class="hvr-bounce-to-bottom"><a href="{% url 'homepage'%}">Home</a></li>
                                <li class="hvr-bounce-to-bottom"><a href="{% url 'about'%}">About</a></li>
                                <li class="hvr-bounce-to-bottom"><a href="{% url 'breakfast'%}">Breakfast</a></li>
                                <li class="hvr-bounce-to-bottom"><a href="{% url 'dinner'%}">Dinner</a></li>
                                <li class="hvr-bounce-to-bottom active"><a href="{% url 'snacks'%}">Snacks</a></li>
                                {% else %}
                                <li class="hvr-bounce-to-bottom active"><a href="{% url 'homepage'%}">Home</a></li>
                                <li class="hvr-bounce-to-bottom"><a href="{% url 'about'%}">About</a></li>
                                <li class="hvr-bounce-to-bottom"><a href="{% url 'breakfast'%}">Breakfast</a></li>
                                <li class="hvr-bounce-to-bottom"><a href="{% url 'dinner'%}">Dinner</a></li>
                                <li class="hvr-bounce-to-bottom"><a href="{% url 'snacks'%}">Snacks</a></li>
                                {% endif %}
                            </ul>
                        </div>

                </div>
                </nav>
                {% if user.is_authenticated %}
                <a class="btn btn-blog-logout pull-right marginBottom10" href="{% url 'logout' %}"><b>LOG OUT</b></a>
                <a class="btn btn-blog pull-right marginBottom10" href="{% url 'new_recipe' %}"><b>NEW RECIPE</b></a>
                <h1 class="top-menu" style="color: #5F1049;
                !important;
                font-family: LobsterTwo-Regular;
                font-weight: 600;
                ">Hello {{ user.username }}</h1> {% else %}
                <a class="btn btn-blog pull-right marginBottom10" href="{% url 'login' %}"><b>LOGIN</b></a>
                <a class="btn btn-blog-register pull-right marginBottom10" href="{% url 'register' %}"><b>REGISTER</b></a> {% endif %}
            </div>
        </div>

    </div>

    <div class="blog-items">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 jumbotrondiv">
                    <div class="jumbotron text-center jumbforms">
                        <h1 style="color: white;
                      font-weight: 500;
                      font-family: LobsterTwo-Regular;">Munchiess</h1>
                        <h2 style="color: white;
                      font-weight: 500;
                      font-family: LobsterTwo-Regular;">Welcome to Munchiess. Your go-to place for tasty recipes for every time of the day</h2>
                    </div>
                    <h4 id="about-us-story">
                      Welcome to Munchiess! I am so glad you’re here. Munchies is a food blog, created by me, Hidden Classified. Here you’ll find recipes that are easy-to-make, worth your time and that you’ll want to make over and over again. Simply put, Munchiess is
                      a collection of recipes that I believe should be in the spotlight. I crawl the web and world looking for food, recipes and snacks that I love. After eating it, I ask myself do I want more? Was it easy and more importantly fun to make?
                      Did it make me smile, reach in for more and make me talk about it to others hours after finishing?<br> <br>If it’s a YES, then we’ll share it with you. The recipes are divided into breakfast and dinner. Lunch floats in between these two,
                      I believe that lunch items are too general to make them a seperate classification for them. In addition to the sections breakfast and dinner we have a section Snacks. Here you'll find very easy-to-make items or ready-to-eat items that I believe are worth sharing because of a certain
                      characteristic. In addition to sharing recipes and snacks, Munchiess provides nutritional information of the recipes and snacks, because we believe that when it comes to food, balance is key. Food should be nutritious, tasty, healthy and enjoyable!
                  </h4>
                </div>
            </div>
            <div class="row blog-items">
                <div class="col-sm-3 blogShort last-blog-item">
                </div>
                <div class="col-sm-9" style="margin-bottom: 20px;">
                    <h1>Register a new user account</h1>
                    <form method="post" action="">
                        {% csrf_token %} {{ form.as_p }}
                        <input type="submit" value="Create new user account" />
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="navbar navbar-default navbar-bottom">
            <div class="container">
                <div class="row ftr">
                    <div class="col-xs-6">
                        <p class="navbar-text pull-left"> Copyright 2016. All rights reserved.
                        </p>
                    </div>
                    <div class="col-xs-6 input-box">
                        <div class="row">
                            <div class="col-sm-6" <h6 id="newslettertext">Sign-up for our weekly newsletter</h6>
                            </div>
                            <div class="col-sm-6" <form>
                                <input name="email" type="text" value="Email Address" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email Address';}" required="">
                                <input id="submit-button" type="submit" value="Send">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

{% endblock %}
