{% extends 'blog/base.html' %} {% load staticfiles %} {% block content %}

<body>
    <div class="banner-body">
        <div class="container">
            <div class="header">
                <div class="header-nav">
                    <nav class="navbar navbar-default navbar-static-top" role="navigation">
                        <div class="navbar-header">

                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navHeaderCollapse">
                              <span class="sr-only">Toggle navigation</span>
                              <span class="icon-bar"></span>
                              <span class="icon-bar"></span>
                              <span class="icon-bar"></span>
                            </button><a href="{% url 'homepage'%}" class="navbar-brand"><span>M</span>unchiess</a>
                        </div>
                        <div class="collapse navbar-collapse nav-wil navHeaderCollapse">
                            <ul class="nav navbar-nav">
                                {% if recipe.category == 'breakfast' %}
                                <li class="hvr-bounce-to-bottom"><a href="{% url 'homepage'%}">Home</a></li>
                                <li class="hvr-bounce-to-bottom"><a href="{% url 'about'%}">About</a></li>
                                <li class="hvr-bounce-to-bottom active"><a href="{% url 'breakfast'%}">Breakfast</a></li>
                                <li class="hvr-bounce-to-bottom"><a href="{% url 'dinner'%}">Dinner</a></li>
                                <li class="hvr-bounce-to-bottom"><a href="{% url 'snacks'%}">Snacks</a></li>
                                {% elif recipe.category == 'dinner'%}
                                <li class="hvr-bounce-to-bottom"><a href="{% url 'homepage'%}">Home</a></li>
                                <li class="hvr-bounce-to-bottom"><a href="{% url 'about'%}">About</a></li>
                                <li class="hvr-bounce-to-bottom"><a href="{% url 'breakfast'%}">Breakfast</a></li>
                                <li class="hvr-bounce-to-bottom active"><a href="{% url 'dinner'%}">Dinner</a></li>
                                <li class="hvr-bounce-to-bottom"><a href="{% url 'snacks'%}">Snacks</a></li>
                                {% elif recipe.category == 'snacks'%}
                                <li class="hvr-bounce-to-bottom"><a href="{% url 'homepage'%}">Home</a></li>
                                <li class="hvr-bounce-to-bottom"><a href="{% url 'about'%}">About</a></li>
                                <li class="hvr-bounce-to-bottom"><a href="{% url 'breakfast'%}">Breakfast</a></li>
                                <li class="hvr-bounce-to-bottom"><a href="{% url 'dinner'%}">Dinner</a></li>
                                <li class="hvr-bounce-to-bottom active"><a href="{% url 'snacks'%}">Snacks</a></li>
                                {% else %}
                                <li class="hvr-bounce-to-bottom active"><a href="{% url 'homepage'%}">Home</a></li>
                                <li class="hvr-bounce-to-bottom"><a href="{% url 'about'%}">About</a></li>
                                <li class="hvr-bounce-to-bottom"><a href="{% url 'breakfast'%}">Breakfast</a></li>
                                <li class="hvr-bounce-to-bottom"><a href="{% url 'dinner'%}">Dinner</a></li>
                                <li class="hvr-bounce-to-bottom"><a href="{% url 'snacks'%}">Snacks</a></li>
                                {% endif %}
                            </ul>
                        </div>

                </div>
                </nav>
                {% if user.is_authenticated %}
                <a class="btn btn-blog-logout pull-right marginBottom10" href="{% url 'logout' %}"><b>LOG OUT</b></a>
                <a class="btn btn-blog pull-right marginBottom10" href="{% url 'new_recipe' %}"><b>NEW RECIPE</b></a>
                <h1 class="top-menu" style="color: #5F1049;
                !important;
                font-family: LobsterTwo-Regular;
                font-weight: 600;
                ">Hello {{ user.username }}</h1>
                {% else %}
                <a class="btn btn-blog pull-right marginBottom10" href="{% url 'login' %}"><b>LOGIN</b></a>
                <a class="btn btn-blog-register pull-right marginBottom10" href="{% url 'register' %}"><b>REGISTER</b></a>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="blog-items">
        <div class="container">
            <div class="row">
                <div class="col-sm-5 blogShort last-blog-item">
                    <h1 style="color: #5F1049;
                  !important;
                  font-family: LobsterTwo-Regular;
                  font-weight: 500;">{{ recipe.title }}</h1>
                    <div class="resize">
                        <img src={{recipe.image.resize.url}} alt="{{recipe.title}}" class="pull-left img-responsive thumb margin10 img-thumbnail">
                    </div>
                </div>
                <div class="col-sm-7 blogShort contenttext">
                  <a class="btn btn-blog-register pull-right marginBottom10" href="{% url 'fullrecipelike' pk=recipe.pk %}">LIKE</a>
                    {% if recipe.published_date %}
                    <p><b>{{ recipe.published_date }}</b> Views: <b>{{recipe.views}}</b>, Likes: <b>{{recipe.likes}}</b></p>
                    {% endif %}
                    <article>
                        <p>
                            {{ recipe.text|linebreaksbr }}
                        </p>
                    </article>
                    {% if user == recipe.author %}
                    <a class="btn btn-blog-red pull-right marginBottom10" href="{% url 'delete_recipe' pk=recipe.pk %}"><b>DELETE</b></a>
                    <a class="btn btn-blog pull-right marginBottom10" href="{% url 'edit_recipe' pk=recipe.pk %}"><b>EDIT</b></a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="footer">
        <div class="navbar navbar-default navbar-bottom">
            <div class="container">
                <div class="row ftr">
                    <div class="col-xs-6">
                        <p class="navbar-text pull-left"> Copyright 2016. All rights reserved.
                        </p>
                    </div>
                    <div class="col-xs-6 input-box">
                        <div class="row">
                            <div class="col-sm-6" <h6 id="newslettertext">Sign-up for our weekly newsletter</h6>
                            </div>
                            <div class="col-sm-6" <form>
                                <input name="email" type="text" value="Email Address" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email Address';}" required="">
                                <input id="submit-button" type="submit" value="Send">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

{% endblock %}
