{% extends 'blog/base.html' %} {% load staticfiles %} {% block content %}

<body>
    <div class="banner-body">
        <div class="container">
            <div class="header">
                <div class="header-nav">
                    <nav class="navbar navbar-default navbar-static-top" role="navigation">
                        <div class="navbar-header">

                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navHeaderCollapse">
                              <span class="sr-only">Toggle navigation</span>
                              <span class="icon-bar"></span>
                              <span class="icon-bar"></span>
                              <span class="icon-bar"></span>
                            </button><a href="{% url 'homepage'%}" class="navbar-brand"><span>M</span>unchiess</a>
                        </div>
                        <div class="collapse navbar-collapse nav-wil navHeaderCollapse">
                            <ul class="nav navbar-nav">
                                <li class="hvr-bounce-to-bottom"><a href="{% url 'homepage'%}">Home</a></li>
                                <li class="hvr-bounce-to-bottom"><a href="{% url 'about'%}">About</a></li>
                                <li class="hvr-bounce-to-bottom"><a href="{% url 'breakfast'%}">Breakfast</a></li>
                                <li class="hvr-bounce-to-bottom"><a href="{% url 'dinner'%}">Dinner</a></li>
                                <li class="hvr-bounce-to-bottom active"><a href="{% url 'snacks'%}">Snacks</a></li>
                            </ul>
                        </div>

                </div>
                </nav>
                {% if user.is_authenticated %}
                <a onclick="return confirm('Are you sure you want to sign out?')" class="btn btn-blog-logout pull-right marginBottom10" href="{% url 'logout' %}"><b>SIGN OUT</b></a>
                <a class="btn btn-blog pull-right marginBottom10" href="{% url 'new_recipe' %}"><b>NEW RECIPE</b></a>
                <h1 class="top-menu" style="color: #5F1049;
                !important;
                font-family: LobsterTwo-Regular;
                font-weight: 600;
                ">Hello {{ user.username }}</h1>
                {% else %}
                <a class="btn btn-blog pull-right marginBottom10" href="{% url 'login' %}"><b>SIGN IN</b></a>
                <a class="btn btn-blog-register pull-right marginBottom10" href="{% url 'register' %}"><b>REGISTER</b></a>
                {% endif %}
            </div>
        </div>

    </div>

    <div class="blog-items">
        <div class="container">
            {% for post in posts %}

            <div class="row">
                <div class="col-sm-5 blogShort last-blog-item">
                    <h1><a style="color: #5F1049;
                    !important;
                    font-family: LobsterTwo-Regular;
                    font-weight: 500;" href="{% url 'fullrecipe' pk=post.pk %}">{{ post.title }}</a></h1>
                    <div class="resize">
                        <a href="{% url 'fullrecipe' pk=post.pk %}"><img src={{post.image.resize.url}} alt="{{post.title}}" class="pull-left img-responsive thumb margin10 img-thumbnail"></a>
                        <!--<img src="img\sweetpotatopancakes.jpg" alt="Sweet Potato Pancakes" class="pull-left img-responsive thumb margin10 img-thumbnail"> !-->
                    </div>
                </div>
                <div class="col-sm-7 blogShort contenttext">
                    {% if post.published_date %}
                    <p><b>{{ post.published_date }}</b> Views: <b>{{post.views}}</b>, Likes: <b>{{post.likes}}</b>, Comments: <b>{{ post.comments.count }}</b> <br /> Written By: <b>{{post.author}}</b></p>
                    {% endif %}
                    <article>
                        <p>
                            {{ post.text|linebreaksbr|truncatechars:675 }}
                        </p>
                    </article>
                    <a class="btn btn-blog pull-right marginBottom10" href="{% url 'fullrecipe' pk=post.pk %}">READ MORE</a>
                </div>
            </div>

            {% endfor %}
        </div>
    </div>

    <div class="footer">
        <div class="navbar navbar-default navbar-bottom">
            <div class="container">
                <div class="row ftr">
                    <div class="col-xs-6">
                        <p class="navbar-text pull-left"> Munchiess Copyright &copy 2017. All rights reserved.
                        </p>
                    </div>
                    <div class="col-xs-6 input-box">
                        <!--<div class="row">
                            <div class="col-sm-6" <h6 id="newslettertext">Sign-up for our weekly newsletter</h6>
                            </div>
                            <div class="col-sm-6" <form>
                                <input name="email" type="text" value="Email Address" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email Address';}" required="">
                                <input id="submit-button" type="submit" value="Send">
                                </form>
                            </div>
                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

{% endblock %}
